.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    color: red;
}

.link:visited {
    color: violet;
}

button:focus {
    color: white;
    background-color: green;
}

.name_field::placeholder {
    color: orange;
}

.checkbox:checked {
    height: 30px;
    width: 30px;
}
